{% extends '_base.html' %}
{% load my_filter %}
{% block content %}
    <main id="main">

        <!-- ======= Gallery Section ======= -->
        {% if page.id == 1 %}
            <!-- ======= Breadcrumbs Section ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>{{ page.title }}</h2>
                        <ol>
                            <li><a href="{% url 'decorfront:index' %}">Home</a></li>
                            <li>{{ page.title }}</li>
                        </ol>
                    </div>

                </div>
            </section><!-- Breadcrumbs Section -->


            <!-- ======= Our Portfolio Section ======= -->
            <section id="portfolio" class="portfolio section-bg">
                <div class="container" data-aos="fade-up" data-aos-delay="100">

                    <div class="row">
                        <div class="col-lg-12">
                            <ul id="portfolio-flters">
                                <li data-filter="*" class="filter-active">All</li>
                                {% for category in categories %}
                                    <li data-filter=".{{ category.title }}">{{ category.title }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="row portfolio-container">
                        {% for p in galleries %}
                            {% for category in categories %}
                                {% if p.category.id == category.id %}
                                    <div class="col-lg-4 col-md-4 col-sm-6 portfolio-item {{ category.title }}">
                                        <div class="portfolio-wrap">
                                            {% if p.image.image.url != Null %}
                                                <img src="{{ p.image.image.url }}" alt="" class="img-responsive"
                                                     width="100%">
                                            {% else %}
                                                <img src="{{ p.image.url }}" alt="" class="img-responsive" width="100%">
                                            {% endif %}
                                            <div class="portfolio-info">
                                                <h4>{{ p.title }}</h4>
                                                <p>{{ p.description|truncatewords:10 }}</p>
                                                <div class="portfolio-links">
                                                    {% if p.image.image.url != Null %}

                                                        <a href="{{ p.image.image.url }}" data-gall="portfolioGallery"
                                                           class="venobox" title="{{ p.title }}"><i
                                                                class="icofont-eye"></i></a>
                                                    {% else %}
                                                        <a href="{{ p.image.url }}" data-gall="portfolioGallery"
                                                           class="venobox" title="{{ p.title }}"><i
                                                                class="icofont-eye"></i></a>
                                                    {% endif %}
                                                    {#                                                    <p>{{ p.description|linebreaksbr }}</p>#}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}


                    </div>

                </div>
            </section><!-- End Our Portfolio Section -->

        {% endif %}

        <!-- ======= About Us Section ======= -->
        {% if page.id == 2 %}
            <!-- ======= Breadcrumbs Section ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>{{ page.title }}</h2>
                        <ol>
                            <li><a href="{% url 'decorfront:index' %}">Home</a></li>
                            <li>{{ page.title }}</li>
                        </ol>
                    </div>

                </div>
            </section><!-- Breadcrumbs Section -->


            <!-- ======= About Us Section ======= -->
            <section id="about" class="about">
                <div class="container">

                    <div class="row no-gutters">
                        <div class="col-lg-6 video-box">
                            {% if aboutus.first.image != Null %}
                                <img src="{{ aboutus.first.image.url }}" class="img-fluid" alt="">
                            {% else %}
                                <img src="{{ header.first.logo.url }}" class="img-fluid" alt="">
                            {% endif %}
                        </div>

                        <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

                            <div class="section-title">
                                <h2>{{ page.title }}</h2>
                                <p>{{ aboutus.first.description|linebreaksbr }}</p>
                            </div>
                            <h3><u><b>Our Services</b></u></h3>
                            <div class="card-group">
                                {% for service in services %}
                                    <div class="card shadow-sm m-2 bg-light rounded">
                                        <div class="card-body" style="background-color: #4fe3b8">
                                            {{ service.title }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </section><!-- End About Us Section -->



        {% endif %}



        <!-- ======= Contact Us Section ======= -->
        {% if page.id == 3 %}
            <!-- ======= Breadcrumbs Section ======= -->
            <section class="breadcrumbs">
                <div class="container">

                    <div class="d-flex justify-content-between align-items-center">
                        <h2>{{ page.title }}</h2>
                        <ol>
                            <li><a href="{% url 'decorfront:index' %}">Home</a></li>
                            <li>{{ page.title }}</li>
                        </ol>
                    </div>

                </div>
            </section><!-- Breadcrumbs Section -->


            <!-- ======= Contact Us Section ======= -->
            <section id="contact" class="contact">
                <div class="container">

                    <div class="section-title">
                        <h2>{{ page.title }}</h2>
                    </div>

                    <div class="row">

                        <div class="col-lg-6 d-flex align-items-stretch">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>{{ contact.first.area }} - {{ contact.first.ward_no }}<br>
                                    {{ contact.first.district }}, {{ contact.first.province }}<br>
                                    {{ contact.first.country }}</p>
                            </div>
                        </div>

                        <div class="col-lg-3 d-flex align-items-stretch">
                            <div class="info-box">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>{{ contact.first.email }}</p>
                            </div>
                        </div>

                        <div class="col-lg-3 d-flex align-items-stretch" data-aos-delay="30">
                            <div class="info-box ">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>{{ contact.first.phone1_no }}{% if contact.first.phone2_no != Null %}<br>
                                    {{ contact.first.phone2_no }}{% endif %}</p>
                            </div>
                        </div>
                    </div>

                    <!-- Google map -->
                    <div class="row">
                        <div class="col-lg-6">
                            <div style="width: 100%">
                                <iframe width="100%" height="385" frameborder="0" scrolling="no" marginheight="0"
                                        marginwidth="0"
                                        src="https://maps.google.com/maps?width=100%25&amp;height=385&amp;hl=en&amp;q=+(Shubharambha%20Decor)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
                                <a href="https://www.google.com/maps/place/Shubharambha+Decor/@27.6741751,85.4373887,17z/data=!4m8!1m2!2m1!1sShubharambha+decor!3m4!1s0x39eb0534b13dcfe3:0x7a2badb67d03f205!8m2!3d27.6741751!4d85.4395774">Shubharambha
                                    Decore near Siddhartha Bank
                                    Chyamhashing, Bhaktapur</a></div>

                        </div>


                        <!-- Review and Feedback -->
                        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <h2>Any Review or Feedback?</h2>
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="form-group mb-3">
                                        <label for="exampleFormControlInput1">Name</label>
                                        <input type="text" class="form-control" id="exampleFormControlInput1"
                                               placeholder="Your Name" name="user" required>
                                        {% if form.errors %}
                                            {{ form.user.errors }}
                                        {% endif %}
                                    </div>

                                    <div class="form-group mb-3">
                                        <label for="exampleFormControlTextarea1">Comments</label>
                                        <textarea class="form-control" id="exampleFormControlTextarea1"
                                                  rows="3" placeholder="Your reviews or feedbacks." name="comment"
                                                  required></textarea>
                                        {{ form.comment.errors }}
                                    </div>


                                    <div class="form-group mb-3">
                                        <label for="exampleFormControlSelect1">Select Option</label>
                                        <select class="form-control" id="exampleFormControlSelect1" name="choice"
                                                required>
                                            <option>Review</option>
                                            <option>Feedback</option>

                                        </select>
                                        {{ form.choice.errors }}
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="exampleFormControlFile1">Photo</label>
                                        <input type="file" class="form-control-file" id="exampleFormControlFile1"
                                               accept="image/*" name="image">

                                    </div>
                                </div>


                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </section><!-- End Contact Us Section -->

            <!-- =======latest gallery ======= -->
                    <div class="section-title">
                        <h2>Latest Products</h2>

                        <div class="slider-container first-sample">
                            <div class="slider">
                                {% for p in product %}
                                    <div class="item"><img src="{{ p.image.image.url }}" alt=""></div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


        {% endif %}

    </main><!-- End #main -->
{% endblock %}

